// Set our SCSS varriables as CSS varables so they can be used in production without preprocessing

:root {
  // breakpoints
  --breakpoint-mobile: #{map-get($breakpoints, "mobile")};
  --breakpoint-tablet: #{map-get($breakpoints, "tablet")};
  --breakpoint-desktop: #{map-get($breakpoints, "desktop")};

  //layout 
  --wrap-width: #{$wrap_width};
  --large-wrap-width: #{$large_wrap_width};
  --small-wrap-width: #{$small_wrap_width};

  // fonts
  --body-font: #{$body_font};
  --heading-font: #{$heading_font};
  --sans-serif-font: #{$sans_serif_font};
  --serif-font: #{$serif_font};

  //text size
  --text-size-xs: #{$text-size-xs};
  --text-size-sm: #{$text-size-sm};
  --text-size-md: #{$text-size-md};
  --text-size-lg: #{$text-size-lg};
  --text-size-2xl: #{$text-size-2xl};
  --text-size-2xl: #{$text-size-2xl};
  --text-size-3xl: #{$text-size-3xl};
  --text-size-4xl: #{$text-size-4xl};
  --text-size-5xl: #{$text-size-5xl};

  //Color Scheme
  --text: #{$text};

  // Signature Colors
  --titan-blue: #{$titan_blue};
  --titan-orange: #{$titan_orange};

  // Secondary Colors
  --dark-medium-blue: #{$dark_medium_blue};
  --medium-blue: #{$medium_blue};
  --light-blue: #{$light_blue};
  --pale-blue: #{$pale_blue};
  --light-orange: #{$light_orange};
  --sunshine: #{$sunshine};

  // Grays
  --light-gray: #{$light_gray};
  --medium-gray: #{$medium_gray};
  --warm-gray: #{$warm_gray};
  --cool-gray: #{$cool_gray};
  --dark-gray: #{$dark_gray};

  // Neutrals
  --cool-gray-80: #{$cool_gray_80};
  --cool-gray-60: #{$cool_gray_60};
  --cool-gray-40: #{$cool_gray_40};
  --cool-gray-20: #{$cool_gray_20};
  --warm-gray-80: #{$warm_gray_80};
  --warm-gray-60: #{$warm_gray_60};
  --warm-gray-40: #{$warm_gray_40};
  --warm-gray-20: #{$warm_gray_20};
  --beige: #{$beige};
  --taupe: #{$taupe};

  // Tertiary
  --brown: #{$brown};
  --brick-red: #{$brick_red};
  --burnt-orange: #{$burnt_orange};
  --mustard: #{$mustard};
  --dark-green: #{$dark_green};
  --medium-green: #{$medium_green};
  --light-green: #{$light_green};

}