//text color
.text-white {
	color: #fff;
}

.text-black {
	color: #000;
}

.text-titan-blue {
	color: $titan_blue;
}

.text-titan-orange {
	color: $titan_orange;
}

.text-dark-medium-blue {
	color: $dark_medium_blue;
}

.text-medium-blue {
	color: $medium_blue;
}

.text-light-blue {
	color: $light_blue;
}

.text-pale-blue {
	color: $pale_blue;
}

.text-light-orange {
	color: $light_orange;
}

.text-sunshine {
	color: $sunshine;
}

.text-white {
	color: $white;
}

.text-light-gray {
	color: $light_gray;
}

.text-medium-gray {
	color: $medium_gray;
}

.text-warm-gray {
	color: $warm_gray;
}

.text-cool-gray {
	color: $cool_gray;
}

.text-dark-gray {
	color: $dark_gray;
}

//background color
.background-white {
	background-color: #fff;
}

.background-black {
	background-color: #000;
}

.background-titan-blue {
	background-color: $titan_blue;
}

.background-titan-orange {
	background-color: $titan_orange;
}

.background-dark-medium-blue {
	background-color: $dark_medium_blue;
}

.background-medium-blue {
	background-color: $medium_blue;
}

.background-light-blue {
	background-color: $light_blue;
}

.background-pale-blue {
	background-color: $pale_blue;
}

.background-light-orange {
	background-color: $light_orange;
}

.background-sunshine {
	background-color: $sunshine;
}

.background-white {
	background-color: $white;
}

.background-light-gray {
	background-color: $light_gray;
}

.background-medium-gray {
	background-color: $medium_gray;
}

.background-warm-gray {
	background-color: $warm_gray;
}

.background-cool-gray {
	background-color: $cool_gray;
}

.background-dark-gray {
	background-color: $dark_gray;
}