// Color Utilities
$colors: (
	'white': $white,
	'black': $black,
	'titan-blue': $titan_blue,
	'titan-orange': $titan_orange,
	'dark-medium-blue': $dark_medium_blue,
	'medium-blue': $medium_blue,
	'light-blue': $light_blue,
	'pale-blue': $pale_blue,
	'light-orange': $light_orange,
	'sunshine': $sunshine,
	'light-gray': $light_gray,
	'medium-gray': $medium_gray,
	'warm-gray': $warm_gray,
	'cool-gray': $cool_gray,
	'dark-gray': $dark_gray,
	'brown': $brown,
	'brick-red': $brick_red,
	'burnt-orange': $burnt_orange,
	'mustard': $mustard,
	'dark-green': $dark_green,
	'medium-green': $medium_green,
	'light-green': $light_green
);

@each $name, $color in $colors {

	.text-#{$name} {
		color: #{$color};
	}

	.background-#{$name} {
		background-color: #{$color};
		&.opacity-10 {
			background-color: rgba($color, .1);
		}
		&.opacity-20 {
			background-color: rgba($color, .2);
		}
		&.opacity-30 {
			background-color: rgba($color, .3);
		}
		&.opacity-40 {
			background-color: rgba($color, .4);
		}
		&.opacity-50 {
			background-color: rgba($color, .5);
		}
		&.opacity-60 {
			background-color: rgba($color, .6);
		}
		&.opacity-70 {
			background-color: rgba($color, .7);
		}
		&.opacity-80 {
			background-color: rgba($color, .8);
		}
		&.opacity-90 {
			background-color: rgba($color, .9);
		}
	}

}