// Color Utilities
$colors: (
	'background': var(--background),
  'text': var(--text),
  'titan-blue': var(--titan-blue),
  'titan-orange': var(--titan-orange),
  'medium-blue': var(--medium-blue),
  'beige': var(--beige),
  'sky-blue': var(--sky-blue),
	'gray': var(--gray),
	'white': #ffffff,
	'black': #000000,
);

@each $name, $color in $colors {

	.text-#{$name} {
		color: #{$color};
	}

	.background-#{$name} {
		background-color: #{$color};
		&.opacity-10 {
			background-color: #{$color};
			opacity: .1;
		}
		&.opacity-20 {
			background-color: #{$color};
			opacity: .2;
		}
		&.opacity-30 {
			background-color: #{$color};
			opacity: .3;
		}
		&.opacity-40 {
			background-color: #{$color};
			opacity: .4;
		}
		&.opacity-50 {
			background-color: #{$color};
			opacity: .5;
		}
		&.opacity-60 {
			background-color: #{$color};
			opacity: .6;
		}
		&.opacity-70 {
			background-color: #{$color};
			opacity: .7;
		}
		&.opacity-80 {
			background-color: #{$color};
			opacity: .8;
		}
		&.opacity-90 {
			background-color: #{$color};
			opacity: .9;
		}
	}

	// Wordpress custom color support
	.has-#{$name}-color {
		color: #{$color};
	}
	
	.has-#{$name}-background-color {
		background-color: #{$color};
	}

	//Border colors
	.border-#{$name} {
		border-color: #{$color};
	}

	$sides: (top, bottom, left, right); // Leave this variable alone
	@each $side in $sides {
		.border-#{str-slice($side, 0, 1)}-#{$name} {
			border-#{$side}-color: #{$color} !important;
		}
	}

}

.background-medium-blue,
.has-medium-blue-background-color {
	@include darkmode() {
		background-color: #2C5088;
	}
}