//Break points
$breakpoints: (
  'mobile': 767px,
  'tablet': 992px,
  'desktop': 1200px
);

//Layout
$wrap_width: 1200px;
$large_wrap_width: 1400px;
$small_wrap_width: 700px;

//Fonts
// $body_font: 'proxima-nova', sans-serif;
// $heading_font:  'kepler-std', serif;
// $sans_serif_font: 'proxima-nova', sans-serif;
// $serif_font:  'kepler-std', serif;

$body_font: 'museo-sans', sans-serif;
$heading_font: $body_font;
$sans_serif_font: $body_font;
$serif_font:  'kepler-std-caption', serif;
$display_font: 'industry', sans-serif;
$display_font2: 'industry-inc-inline', sans-serif;

//text size
$base-font-size: 18px;
$text-size-xs: 0.69rem; // 12.5px
$text-size-sm: 0.83rem; // 15px
$text-size-md: 1rem; // 18px
$text-size-lg: 1.2rem; // 21.6px
$text-size-xl: 1.44rem; // 25.92px
$text-size-2xl: 1.73rem; // 31.104px
$text-size-3xl: 2.07rem; // 37.325px
$text-size-4xl: 2.49rem; // 44.79px
$text-size-5xl: 2.99rem; // 53px
$text-size-6xl: 3.55rem; // 5

//Color Scheme
$background: #fff;
$text: #222;
// $titan-blue: #00274C;
$titan-blue: #00244E;
$titan-orange: #FF7900;
$medium-blue: #0F3F8C;
$sky-blue: #EBFBFF;
$gray: #f5f5f5;
$beige: #F8F7F3;

// Set our SCSS varriables as CSS varables so they can be used in production without preprocessing

:root {
  //layout 
  --wrap-width: #{$wrap_width};
  --large-wrap-width: #{$large_wrap_width};
  --small-wrap-width: #{$small_wrap_width};

  // fonts
  --body-font: #{$body_font};
  --heading-font: #{$heading_font};
  --sans-serif-font: #{$sans_serif_font};
  --serif-font: #{$serif_font};
  --display-font: #{$display_font};
  --display-font2: #{$display_font};

  //text size
  --text-size-xs: #{$text-size-xs};
  --text-size-sm: #{$text-size-sm};
  --text-size-md: #{$text-size-md};
  --text-size-lg: #{$text-size-lg};
  --text-size-2xl: #{$text-size-2xl};
  --text-size-2xl: #{$text-size-2xl};
  --text-size-3xl: #{$text-size-3xl};
  --text-size-4xl: #{$text-size-4xl};
  --text-size-5xl: #{$text-size-5xl};
  --text-size-6xl: #{$text-size-6xl};

  //Color Scheme
  --background: #ffffff;
  --text: #222222;

  // Signature Colors
  --titan-blue: #00244E;
  --titan-orange: #FF7900;

  // Secondary Colors
  --medium-blue: #0F3F8C;
  --beige: #F8F7F3;
  --sky-blue: #EBFBFF;
	--gray: #f5f5f5;

  // Messaging
  --error: #97321f;
}

html[data-theme='dark'] {
  --background: #1A2029;
  --text: #ebebeb;

  // Signature Colors
  --titan-blue: #1A2F48;
  --titan-orange: #FF7900;

  // Secondary Colors
  --medium-blue: #538deb;
  // --medium-blue: #0f3f8c;
	// --medium-blue: #89ade7;
  --beige: #3c4148;
  --sky-blue: #99b3b9;
	--gray: #252a30;

}




/*--------------- old stuff --------------------*/
$titan_blue: $titan-blue;
$titan_orange: $titan-orange;

// Secondary Colors
$dark_medium_blue: #00376b;
$medium_blue: $medium-blue;
$light_blue: #9cd0e8;
$pale_blue: #E0EEF5;
$light_orange: #dc8218;
$sunshine: #feb210;

// Grays
$default: #F7F7F7;
$black: #000;
$white: #FFF;
$light_gray : #E9E9E7;
$medium_gray: #666666;
$warm_gray: #5E5654;
$cool_gray: #484F5F;
$dark_gray: #333;

// Neutrals
$cool_gray_80: #bdc5c9;
$cool_gray_60: #677983;
$cool_gray_40: #92a1ab;
$cool_gray_20: #eaecec;
$warm_gray_80: #5e514e;
$warm_gray_60: #877b77;
$warm_gray_40: #afa9a6;
$warm_gray_20: #eae6e3;
$taupe:	#cdb99c;

// Messaging
$error: #97321f;
$warning: #bf5f16;
$success: #334f2e;
$info: #eaecec;

// Social Media
$facebook: #3b5998;
$twitter: #55acee;
$linkedin: #0077b5;
$instagram: #3f729b;
$pinterest: #bd081c;
$googleplus: #dc4e41;
$youtube: #cd201f;