.alert {
  display: block;
  padding: 1rem;
  margin-bottom: 1.5rem;
  background: $info;
  border: 1px solid #ccc;
  border-left-width: 5px;
  &-error {
		@extend .alert;
    background: lighten($error, 60%);
    border-color: lighten($error, 45%);
    border-left-color: #b81b1b;
    color: $error;
    a {
      color: $error;
      border-color: $error;
      &:hover,
      &:active,
      &:focus {
        color: darken($error,15%);
        border-color: darken($error,15%);
      }
    }
	}
  &-success {
		@extend .alert;
    background: lighten($success, 65%);
    border-color: lighten($success, 45%);
    border-left-color: #2e6824;
    color: $success;
    a {
      color: $success;
      border-color: $success;
      &:hover,
      &:active,
      &:focus {
        color: darken($success,15%);
        border-color: darken($success,15%);
      }
    }
	}
  &-warning {
		@extend .alert;
    background: lighten($warning, 55%);
    border-color: lighten($warning, 45%);
    border-left-color: #FF6800;
    color: darken($warning, 15%);
    a {
      color: darken($warning, 15%);
      border-color: darken($warning, 15%);
      &:hover,
      &:active,
      &:focus {
        color: darken($warning,30%);
        border-color: darken($warning,30%);
      }
    }
	}
  &-notice {
		@extend .alert;
    background: $pale_blue;
    border-color: $light_blue;
    border-left-color: $medium_blue;
    color: $dark_medium_blue;
    a {
      color: $dark_medium_blue;
      border-color: $dark_medium_blue;
      &:hover,
      &:active,
      &:focus {
        color: darken($dark_medium_blue,15%);
        border-color: darken($dark_medium_blue,15%);
      }
    }
	}

  :last-child {
    margin-bottom: 0;
  }

  h1, h2, h3,
  h4, h5, h6 {
    font-size: $text-size-lg;
    margin-bottom: .5rem;
  }

  code {
    background-color: rgba(255,255,255,.46);
  }

}