.alert {
  display: block;
  padding: 1rem;
  margin-bottom: 1.5rem;
  background: $info;
  border: 1px solid #ccc;
  border-left-width: 5px;
  @include darkmode() {
    background: #28303c;
    border-color: #6b717a;
  }
  h1, h2, h3,
  h4, h5, h6 {
    color: var(--text);
  }
  &-campus {
		@extend .alert;
    background: var(--titan-orange);
    border: none;
    margin: 0;
    color: $text;
    font-weight: 500;
    text-align: center;
    h1, h2, h3,
    h4, h5, h6 {
      color: $text;
    }
    a {
      color: $text;
      text-decoration-color: $text;
      &:hover,
      &:active,
      &:focus {
        color: darken($text,15%);
        text-decoration-color: darken($text,15%);
      }
    }
	}
  &-site {
    @extend .alert;
    background: #FFC734;
    border: none;
    margin: 0;
    color: $text;
    font-weight: 500;
    h1, h2, h3,
    h4, h5, h6 {
      color: $text;
    }
    a {
      color: $text;
      text-decoration-color: $text;
      &:hover,
      &:active,
      &:focus {
        color: darken($text,15%);
        text-decoration-color: darken($text,15%);
      }
    }
    @include darkmode() {
      background: #FFC734;
    }
	}
  &-error {
		@extend .alert;
    background: lighten($error, 60%);
    border-color: lighten($error, 45%);
    border-left-color: #b81b1b;
    color: $error;
    @include darkmode() {
      background: #97321f;
      border-color: #dd482c;
      border-left-color: #dd482c;
      color: #FEDFDA;
    }
    h1, h2, h3,
    h4, h5, h6 {
      color: $error;
      @include darkmode() {
        color: #FEDFDA;
      }
    }
    a {
      color: $error;
      text-decoration-color: $error;
      @include darkmode() {
        color: #FEDFDA;
        text-decoration-color: #FEDFDA;
      }
      &:hover,
      &:active,
      &:focus {
        color: darken($error,15%);
        text-decoration-color: darken($error,15%);
        @include darkmode() {
          color: #fff;
          text-decoration-color: #fff;
        }
      }
    }
	}
  &-success {
		@extend .alert;
    background: lighten($success, 65%);
    border-color: lighten($success, 45%);
    border-left-color: #2e6824;
    color: $success;
    @include darkmode() {
      background: #334f2e;
      border-color: #a3c69d;
      border-left-color: #a3c69d;
      color: #a3c69d;
    }
    h1, h2, h3,
    h4, h5, h6 {
      color: $success;
      @include darkmode() {
        color: #a3c69d;
      }
    }
    a {
      color: $success;
      text-decoration-color: $success;
      @include darkmode() {
        color: #a3c69d;
        text-decoration-color: #a3c69d;
      }
      &:hover,
      &:active,
      &:focus {
        color: darken($success,15%);
        text-decoration-color: darken($success,15%);
        @include darkmode() {
          color: #fff;
          text-decoration-color: #fff;
        }
      }
    }
	}
  &-warning {
		@extend .alert;
    background: lighten($warning, 55%);
    border-color: lighten($warning, 45%);
    border-left-color: #FF6800;
    color: darken($warning, 15%);
    @include darkmode() {
      background: #7a3d0e;
      border-color: #f57e23;
      border-left-color: #f57e23;
      color: #f8dac2;
    }
    h1, h2, h3,
    h4, h5, h6 {
      color: darken($warning, 15%);
      @include darkmode() {
        color: #f8dac2;
      }
    }
    a {
      color: darken($warning, 15%);
      text-decoration-color: darken($warning, 15%);
      @include darkmode() {
        color: #f8dac2;
        text-decoration-color: #f8dac2;
      }
      &:hover,
      &:active,
      &:focus {
        color: darken($warning,30%);
        text-decoration-color: darken($warning,30%);
        @include darkmode() {
          color: #fff;
          text-decoration-color: #fff;
        }
      }
    }
	}
  &-notice {
		@extend .alert;
    background: $pale_blue;
    border-color: $light_blue;
    border-left-color: $medium_blue;
    color: $dark_medium_blue;
    @include darkmode() {
      background: #09335a;
      border-color: #1e5487;
      border-left-color: #1e5487;
      color: #ccdff1;
    }
    h1, h2, h3,
    h4, h5, h6 {
      color: $dark_medium_blue;
      @include darkmode() {
        color: #ccdff1;
      }
    }
    a {
      color: $dark_medium_blue;
      text-decoration-color: $dark_medium_blue;
      @include darkmode() {
        color: #ccdff1;
        text-decoration-color: #ccdff1;
      }
      &:hover,
      &:active,
      &:focus {
        color: darken($dark_medium_blue,15%);
        text-decoration-color: darken($dark_medium_blue,15%);
        @include darkmode() {
          color: #fff;
          text-decoration-color: #fff;
        }
      }
    }
	}

  :last-child {
    margin-bottom: 0;
  }

  h1, h2, h3,
  h4, h5, h6 {
    font-size: $text-size-lg;
    margin-bottom: .5rem;
  }

  code {
    background-color: rgba(255,255,255,.46);
  }

}