form {
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1.25rem;
}

input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="time"],
input[type="url"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="tel"],
input[type="password"],
input[type="file"],
textarea,
select {
  width: 100%;
  font-family: $body_font;
  border: 1px solid #c7c7c7;
  border-radius: 2px;
  margin: 0;
  padding: .5rem;
  // width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #f7f7f7;
  color: var(--text);
  font-size: $text-size-md;
  &:focus {
    background-color: #EFEDE6;
  }
  @include darkmode() {
    background-color: #3c4148;
    border-color: #4e555e;
  }
  &.error {
    border-color: var(--error);
    background-color: lighten($error, 60%);
    color: var(--error);
    &:focus {
      outline-color: var(--error);
    }
    @include darkmode() {
      color: white;
      background-color: #3c0b00;
      border-color: #66281b;
    }
  }
}

input[type="submit"],
input[type="button"],
button,
input[type="reset"] {
  @extend .button;
  font-size: $text-size-md;
  font-family: $body_font;
}

legend {
  margin-bottom: .5rem;
  font-size: $text-size-sm;
}

fieldset {
  margin-bottom: 1.5em;
}

label {
  display: block;
  margin-bottom: .5rem;
  font-size: $text-size-sm;
  line-height: 1em;
  &.error {
    color: var(--error);
    font-weight: 600;
  }
}