header {
	border-top: 5px solid $titan_orange;
	padding-top: .6rem;

	.header-top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include breakpoint(mobile) {
			padding-right: 15px !important;
			padding-left: 15px !important;
		}
	}

	.site-branding {
		margin-bottom: .6rem;
		position: relative;
		@include breakpoint(mobile) {
			display: flex;
			align-items: center;
		}

		.csuf-logo {
			display: block;
			// padding: .5rem 1rem .5rem;
			width: 40px;
			margin-right: 30px;
			position: relative;
			@include breakpoint(mobile) {
				width: 30px;
				margin-right: 10px;
			}
			&:after {
				content: '';
				width: 1px;
				height: 70%;
				background: #ccc;
				display: block;
				position: absolute;
				right: -15px;
				top: 50%;
				transform: translateY(-50%);
				@include breakpoint(mobile) {
					display: none;
				}
			}
		}
	
		.site-name {
			font-size: $text-size-2xl;
			color: $titan_blue;
			font-family: $heading_font;
			font-weight: 500;
			// top: 50%;
			// transform: translateY(-50%);
			// position: absolute;
			margin-top: .9rem;
			display: inline-block;
			@include breakpoint(mobile) {
				font-size: $text-size-xl;
				margin-top: .6rem;
			}
		}

	}

	#global-nav {
		font-size: $text-size-sm;
		ul{
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				display: inline-block;
				list-style: none;
				margin: 0 1rem;
			}
		}
		a:hover,
		a:active {
			text-decoration-color: $titan_orange;
			text-decoration-thickness: 2px;
		}
	}

	.search-button {
		background: #efefef;
		border: 1px solid #ccc;
		border-radius: 1.5rem;
		padding: .5rem 1rem;
		line-height: 1em;
		font-size: $text-size-sm;
		margin: 0;
		&:hover,
		&:focus {
			background: $dark_medium_blue;
			border-color: $medium_blue;
		}
		@include breakpoint(mobile) {
			background: $medium_blue;
			color: white;
			border: none;
			font-size: $text-size-lg;
			padding: 14.28px 15px 14.28px 5px;
			border-radius: 0;
			float: right;
			position: relative;
			&:after {
				right: 100%;
				top: 0;
				border: solid transparent;
				content: "";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-right-color: $medium_blue;
				border-width: 26px;
				@include transition(all,250ms);
			}
			&:hover,
			&:focus {
				&:after {
					@include transition(all,250ms);
					border-right-color: $dark_medium_blue;
				}
			}
			.search-button-text {
				display: none;
			}

		}
	}

}