header {
	border-top: 5px solid $titan_orange;
	padding-top: .6rem;

	.header-top {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.site-branding {
		margin-bottom: .6rem;
		@extend .position-relative;

		.csuf-logo {
			display: block;
			// padding: .5rem 1rem .5rem;
			width: 40px;
			margin-right: 30px;
			@extend .position-relative;
			&:after {
				content: '';
				width: 1px;
				height: 70%;
				background: #ccc;
				display: block;
				position: absolute;
				right: -15px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	
		.site-name {
			font-size: $text-size-2xl;
			color: $titan_blue;
			font-family: $heading_font;
			font-weight: 500;
			// top: 50%;
			// transform: translateY(-50%);
			// position: absolute;
			margin-top: .9rem;
			display: inline-block;
		}

	}

	#global-nav {
		font-size: $text-size-sm;
		ul{
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				display: inline-block;
				list-style: none;
				margin: 0 1rem;
			}
		}
		.search-button {
			background: #efefef;
			border: 1px solid #ccc;
			border-radius: 1.5rem;
			padding: .5rem 1rem;
			line-height: 1em;
			font-size: $text-size-sm;
			margin: 0;
			&:hover,
			&:focus {
				background: $dark_medium_blue;
				border-color: $medium_blue;
			}
		}
	}


	// @media screen and (max-width: $mobile_break) {
	// 	height: auto;
	// 	position: fixed;
  //   top: 0;
  //   z-index: 1000;
	// }

}