figcaption,
.inline-image p {
	font-size: $text-size-sm;
	font-weight: 400;
	line-height: 1.313em;
	color:#444;
	padding: 10px 0;
	border-bottom: 2px solid #000;
  @include darkmode() {
		color: #8E8E8E;
    border-color: #4e555e;
	}
}

figure,
img {
  &.float-left {
    margin: 1rem 1rem 1rem 0;
  }
  &.float-right {
    margin: 1rem 0 1rem 1rem;
  }
  &.float-left,
  &.float-right {
    @include breakpoint(mobile) {
      float: none;
      margin: 1rem auto;
    }
  }
  
}