.tuffy {
  width: 40%;
  /* max-width: 20%; */
  margin: 0 0 2em 2em;
  display: block;
  @media screen and (max-width: $mobile_break) {
    margin: 0 auto 20px auto;
  }
}

h1 {
  padding-top: 4em;
  @media screen and (max-width: $tablet_break) {
    padding-top: 2em;
  }
  @media screen and (max-width: $mobile_break) {
    padding-top: 0;
    text-align: center;
  }
}

.search-wrap {
  width: 55%;
  background: none;
  @media screen and (max-width: $mobile_break) {
    width: 100%;
  }
  .gsc-control-cse {
    background: none;
    border: none;
  }
}