h1 span {
	font-size: .625em !important;
	font-style: italic;
}

h2 {
	font-size: 1.1em;
	text-transform: uppercase;
}

.trending-topics {
	margin-bottom: 2em;
}

.trending-topics-tabs {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: flex-end;
	.tab-button {
		background: none;
		color: $text;
		font-family: $body-font;
		font-size: 1em;
		display: block;
		padding: .5em .7em;
		border: 1px solid transparent;
		@include transition(all,250ms);
		&:hover,
		&:focus {
			border: 1px solid #ddd;
			border-top: 5px solid black;
			border-bottom-color: transparent;
			// background: #fff;
			@include transition(all,250ms);
		}
		&.active {
			border: 1px solid white;
			border-top: 5px solid $titan_orange;
			background: white;
			@include transition(all,250ms);
		}
	}
}

.trending-topics-content {
	.tab-panel {
		display: none;
		background: white;
		padding: 1.1em .7em;
		flex-wrap: wrap;
		justify-content: space-between;
		&.active {
			display: flex;
		}
	}
}

.expert {
	flex-basis: 49%;
	/* width: 50%; */
	font-size: .9em;
	&:nth-child(odd) {
		border-right: 1px dotted #ccc;
		padding-right: 1%;
	}
	&:nth-child(even) {
		padding-left: 1%;
	}
	img {
		border-radius: 50%;
		display: block;
		margin: 15px auto;
		border: 3px solid #ccc;
		width: 110px;
	}
	.expertName,
	.posTitle {
    margin: 0;
		text-align: center;
		font-family: $heading_font;
		line-height: 1.4em;
	}
	.expertName {
		text-transform: uppercase;
		font-weight: bold;
	}
	.posTitle {
		font-style: italic;
	}
	a {
		border: none;
	}
	p {
		line-height: 1.375em;
	}
}

.csuf-facts {
	ul {
		list-style: none;
		padding: 5px 15px;
		li {
			margin-bottom: 15px;
		}
	}
	a {
		font-weight: normal;
		color: $text;
		text-decoration: none;
		border: none;
		.icon {
			margin-right: 10px;
		}
	}
}

.featured-stories {
	list-style: none;
	margin: 0;
	padding: 0 15px;
	li {
		margin-bottom: 10px;
	}
	a {
		text-decoration: none;
		font-weight: normal;
		border: none;
		color: $text;
		h4 {
			font-family: $heading_font;
			font-size: 1em;
		}
	}
}

.titans-of-media-image{
	border: none;
	display: block;
	margin-bottom: 25px;
}